img,
#content,
#section-heading,
#navigation {behavior: url(/javascripts/iepngfix.htc);}
div#content {
	min-height: 350px;
	height: auto !important;
	height: 350px;
}
#list-container,
.clients-list #list-container,
.file_list #list-container {
	width: 490px;
}
.clients-list #list-container {
	width: 520px;
}