<h5>Contact us:</h5>
<ul class="footer-list">
	<li>Tel:  212.603.0231 / 800.827.7363</li>
	<li>Fax: 212.247.0739</li>
	<li>320 West 57th Street</li>
	<li>New York, N.Y.  10019</li>
</ul>
<br />
<h5>Company:</h5>
<ul class="footer-list">
	<li><%= link_to "Principals", bios_path, :title => "Principals" %></li>
	<% { 
		3 => 'Specialties', 
		4 => 'Clients', 
		5 => 'Insurance Applications', 
		6 => 'Credits', 
		7 => 'Contact'
		}.sort.each do |id, name| %>
			<li><%= link_to name, { :controller => 'site_sections', :action => 'show', :id => id }, :title => name %></li>
	<% end %>
</ul>
<div id="copyright">All contents  &copy;  copyright  Reiff &amp; Associates, LLC. <%= image_tag 'footer-bullet.gif' %>    All rights reserved.</div>